@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap");

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins", sans-serif;
}

.heading {
  height: 100px;
  align-items: center;
  background-color: #253532;
}

h1 {
  margin-top: 40px;
  font-weight: bolder;
  align-items: center;
}

.chartLabel {
  padding-top: 50px;
}
